<nb-card size="medium">
  <nb-card-body>
    <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">      
          PM Narendra Modi's 'Assassination Plan' in Letter Found .....
      </div>
     
    </div>
  </nb-card-body>


  <nb-card-footer>
   
      <i class="ion-thumbsup"></i><span style="font-size:15px">20K</span>
   
   
      <i class="ion-thumbsdown"></i><span style="font-size:15px">100</span>
   
   
      <i class="ion-chatbox"></i><span style="font-size:15px">2k</span>
   
   
      <i class="ion-eye"></i><span style="font-size:15px">300k</span>
   
   
      <i class="ion-share"></i><span style="font-size:15px">120</span>
   
  </nb-card-footer>
</nb-card>
