<div class="scrollable-container login-form">
  <div class="layout">
      <div class="layout-container">
        <div class="content">
          <div class="columns">
            <nb-layout-column>
              <div class="col-md-4 offset-md-4 text-center">
                  <h2 class="title"> Reset Password </h2>
                  
                  <form name="form" (ngSubmit)="f.form.valid && resetSubmit()" #f="ngForm" novalidate>                     
                      
                      <div class="form-group"> 
                          <input placeholder="password" type="password" class="form-control" name="password" ngModel [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
                          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                              <div *ngIf="password.errors.required" class="pull-left">* Password is required</div>
                          </div>
                      </div>
                      <div class="form-group"> 
                          <input placeholder="confirm password" type="password" class="form-control" ngModel name="confirmpassword" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" [equalTo]="password" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
                          <div *ngIf="confirmpassword.errors?.equalTo" class="pull-left">Password mismatch</div>
                      </div>
                                              
                      <div class="form-group">
                          <button class="btn btn-block btn-hero-success">Reset</button>
                      </div>
                  </form>
              </div>
            </nb-layout-column>
          </div>
        </div>
      </div>
  </div>
  <ng-snotify class="material"></ng-snotify>
</div>  
