<div class="row">
  <div class="col-md-12 col-lg-12">
      <ng-snotify class="simple"></ng-snotify>
    <nb-card class="earning-summary">
      <nb-card-body>
        <nb-actions size="medium" fullWidth>
          <nb-action>
              <div class="earning-content text-center">
                <span>Current Balance</span>
                <span>${{earningObj?.balance}} </span>
            </div>
            </nb-action>
          <nb-action>
            <div class="earning-content text-center">
              <span>Yesterday's Earnings</span>
              <span>${{earningObj?.yesterday_earning}} </span>
          </div>
          </nb-action>
          <nb-action>
            <div class="earning-content text-center">
              <span>Earnings of this month</span>
              <span>${{earningObj?.monthly_earning}} </span>
            </div>
          </nb-action>
          <nb-action>
            <div class="earning-content text-center">
              <span>Total Earnings</span>
              <span>${{earningObj?.total_earning}} </span>
            </div>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
    <nb-card size="">
      <nb-tabset>
        <nb-tab tabTitle="Earnings">
          <div class="text-right">
            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
            [(ngModel)]="dateModel" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
          </div>
          <nb-card class="earning-summary">
            <nb-card-body class="small-summary">
              <nb-actions size="medium">
                <nb-action>
                  <div class="earning-content">
                    <span>7 Days</span>
                  </div>
                </nb-action>
                <nb-action>
                  <div class="earning-content">
                    <span>14 Days</span>
                  </div>
                </nb-action>
                <nb-action>


                  
                  <div class="earning-content">
                    <span>30 Days</span>
                  </div>
                </nb-action>
                <nb-action class="pull-right">
                  <div class="earning-content">
                    <span>Calendar</span>
                  </div>
                </nb-action>
              </nb-actions>
            </nb-card-body>
          </nb-card>
          <div class="table-responsive table-earnings">
            <table *ngIf="dateWiseEarnings.length>0" class="table table-bordered table-striped table-fixed">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Credit</th>
                  <th>Reason</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let compEarn of dateWiseEarnings; let i = index">
                  <td>{{i+1}}</td>
                  <td> {{compEarn?.credit}} </td>
                  <td>{{compEarn?.reason}}</td>
                  <td>{{compEarn?.date}}</td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="! dateWiseEarnings.length>0">
              <label >No Data Available</label>
            </div> 
          </div>
        </nb-tab>
        <nb-tab tabTitle="Withdraw Earnings">
          <div class="input-group input-group-sm mb-3 offset-md-10 col-md-2">
              <!-- <small>$</small> -->
            <input type="text" class="form-control " [(ngModel)]="withdrawAmount" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm" (click)="withdrawAmountRequest()">Withdraw</span>
            </div>
          </div>
          <div class="table-responsive table-earnings">
            <table *ngIf="withdrawEarnings.length>0" class="table table-bordered table-striped table-fixed">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Debited</th>
                  <th>Status</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let withdraw of withdrawEarnings; let i= index">
                  <td>{{i+1}}</td>
                  <td>{{withdraw?.debit}}</td>
                  <td>{{withdraw?.status}}</td>
                  <td>{{withdraw?.date}}</td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="!withdrawEarnings.length>0">
              <label >No Data Available</label>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Earnings Settings">
          <div class="container earning-settings">
            <legend>Agreement Information</legend>
            <div class="row" *ngIf="agreement">
              <div class="col-lg-3 text-right">
                <label for="">Signatory:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for=""> {{agreement.signatory}} </label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Term of Agreement:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.toa_start}} - {{agreement.toa_end}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Article:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.article}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Video:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.video}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Address:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.address}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Phone:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.phone}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Email:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.email}}</label>
              </div>
            </div>
            <div class="text-center" *ngIf="!agreement">
              <label >please complete your agreement <a href="">click here to complete your agreement</a></label>
            </div>

            <legend style="margin-top: 15px;">Payment information</legend>
            <!-- <div class="row" *ngIf="bInfo">
              <div class="col-lg-3 text-right">
                <label for="">Attention:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">1. In order for the payment to be successfully processed, the recipient's name and phone number must match the name and phone
                number on the bank account.</label>
              
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Payment Method:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.payment_method}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Contact:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.user_mobile}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Payment Email:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.payment_email}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Signatory/Beneficiary Name:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.payee_name}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Beneficiary Bank Name:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.bank_name}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Beneficiary Account No:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.acc_number}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Bank IFSC Code:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.bank_code}}</label>
              </div>
            </div> -->
          <div>
                <form name="form" (ngSubmit)="f.form.valid && updateSubmit()" #f="ngForm" novalidate>                     
                  <div class="row">
                    <div class="col-md-6 " style="background-color: rgb(234, 237, 245)">
                      <img src="assets/images/choose_payment.png" alt="">
                      <div class="form-group">
                          <label class=" control-label">Payment Method</label>
                          <div class="">
                                <div class="form-check-inline">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input"  name="radiogroup" value="paypal" [(ngModel)]="model.payment_method"  #payment_method="ngModel" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Paypal</span>
                                      </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input"  name="radiogroup" value="payoneer" [(ngModel)]="model.payment_method"  #payment_method="ngModel">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Payoneer</span>
                                      </label>
                                </div>
                          </div>
                          
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="text-center">
                        <img src='assets/images/{{model?.payment_method}}.png' alt="">
                      </div>
                      <div class="form-group">
                          <label class=" control-label">Payee Name</label>
                          <div class="">
                          <input placeholder="Signatory/Payee Name"type="text" class="form-control" name="payee_name"  [(ngModel)]="model.payee_name" #payee_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && payee_name.invalid }" required />
                          <div *ngIf="f.submitted && payee_name.invalid" class="invalid-feedback">
                              <div *ngIf="payee_name.errors.required">Payee Name is required</div>
                          </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class=" control-label">Payment Email</label>
                          <div class="">
                          <input placeholder="Email"type="text" class="form-control" name="payment_email"  [(ngModel)]="model.payment_email" #payment_email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && payment_email.invalid }" required />
                          <div *ngIf="f.submitted && payment_email.invalid" class="invalid-feedback">
                              <div *ngIf="payment_email.errors.required">Payee email is required</div>
                          </div>
                          </div>
                      </div>
                      <div class="form-group text-center">
                          <button class="btn btn-hero-success">{{pytInfoButtonText}}</button>
                      </div>
                    </div>

                  </div>  

                </form>
               
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
