<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card class="earning-summary">
      <nb-card-body>
        <nb-actions size="medium" fullWidth>
          <nb-action>
            <div class="earning-content text-center">
              <span>Yesterday's Earnings</span>
              <span>${{earningObj?.yesterday_earning}} </span>
          </div>
          </nb-action>
          <nb-action>
            <div class="earning-content text-center">
              <span>Earnings of this month</span>
              <span>${{earningObj?.monthly_earning}} </span>
            </div>
          </nb-action>
          <nb-action>
            <div class="earning-content text-center">
              <span>Total Earnings</span>
              <span>${{earningObj?.total_earning}} </span>
            </div>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
    <nb-card size="">
      <nb-tabset>
        <nb-tab tabTitle="Earnings">
          <nb-card class="earning-summary">
            <nb-card-body class="small-summary">
              <nb-actions size="medium">
                <nb-action>
                  <div class="earning-content">
                    <span>7 Days</span>
                    <!-- <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                    [(ngModel)]="modal" required></my-date-range-picker> -->
                  </div>
                </nb-action>
                <nb-action>
                  <div class="earning-content">
                    <span>14 Days</span>
                  </div>
                </nb-action>
                <nb-action>


                  
                  <div class="earning-content">
                    <span>30 Days</span>
                  </div>
                </nb-action>
                <nb-action class="pull-right">
                  <div class="earning-content">
                    <span>Calendar</span>
                  </div>
                </nb-action>
              </nb-actions>
            </nb-card-body>
          </nb-card>
          <div class="table-responsive table-earnings">
            <table *ngIf="completeEarnings" class="table table-bordered table-striped table-fixed">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Credit</th>
                  <th>Reason</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let compEarn of completeEarnings; let i = index">
                  <td>{{i+1}}</td>
                  <td> {{compEarn?.credit}} </td>
                  <td>{{compEarn?.reason}}</td>
                  <td>{{compEarn?.date}}</td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="!completeEarnings">
              <label >No Data Available</label>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Withdraw Earnings">
          <div class="table-responsive table-earnings">
            <table *ngIf="withdrawEarnings" class="table table-bordered table-striped table-fixed">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Debited</th>
                  <th>Status</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let withdraw of withdrawEarnings; let i= index">
                  <td>{{i+1}}</td>
                  <td>{{withdraw?.debit}}</td>
                  <td>{{withdraw?.status}}</td>
                  <td>{{withdraw?.date}}</td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="!withdrawEarnings">
              <label >No Data Available</label>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Earnings Settings">
          <div class="container earning-settings">
            <legend>Agreement Information</legend>
            <div class="row" *ngIf="agreement">
              <div class="col-lg-3 text-right">
                <label for="">Signatory:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for=""> {{agreement.signatory}} </label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Term of Agreement:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.toa_start}} - {{agreement.toa_end}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Article:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.article}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Video:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.video}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Address:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.address}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Phone:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.phone}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Email:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{agreement.email}}</label>
              </div>
            </div>
            <div class="text-center" *ngIf="!agreement">
              <label >please complete your agreement <a href="">click here to complete your agreement</a></label>
            </div>

            <legend style="margin-top: 15px;">Payment information</legend>
            <div class="row" *ngIf="bInfo">
              <div class="col-lg-3 text-right">
                <label for="">Attention:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">1. In order for the payment to be successfully processed, the recipient's name and phone number must match the name and phone
                number on the bank account.</label>
              
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Payment Method:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.payment_method}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Contact:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.user_mobile}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Payment Email:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.payment_email}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Signatory/Beneficiary Name:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.payee_name}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Beneficiary Bank Name:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.bank_name}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Beneficiary Account No:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.acc_number}}</label>
              </div>
              <div class="col-lg-3 text-right">
                <label for="">Bank IFSC Code:</label>
              </div>
              <div class="col-lg-9 text-left">
                <label for="">{{bInfo?.bank_code}}</label>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary">{{bInfo ? "Update Details":"Add Details"}}</button>
            </div>
            <div>
                <form name="form" (ngSubmit)="f.form.valid && updateSubmit()" #f="ngForm" novalidate>                     
                    <div class="form-group">
                      <label class="col-md-3 control-label">Payment Method</label>
                    <div class="col-md-7">
                        <select class="form-control" name="payment_method"  [(ngModel)]="model.payment_method" #payment_method="ngModel" [ngClass]="{ 'is-invalid': f.submitted && payment_method.invalid }" required >
                            <option [value]="" selected>Select Payment Method</option>                            
                            <option [value]="Paypal">Paypal</option>
                            <option [value]="Payoneer">Payoneer</option>
                            <option [value]="Bank">Bank</option>
                          </select>
                          <div *ngIf="f.submitted && payment_method.invalid" class="invalid-feedback">
                              <div *ngIf="payment_method.errors.required">Earning Settings is required</div>
                          </div>
                        <!-- <input placeholder="Country/Currency" type="text" class="form-control" name="country"  [(ngModel)]="model.country" #country="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required />
                        <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                            <div *ngIf="country.errors.required">Country is required</div>
                        </div> -->
                      </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-md-3 control-label">Earning Settings</label>
                        <div class="col-md-7">
                        <input placeholder="Earning settings"type="text" class="form-control" name="payment_method"  [(ngModel)]="model.payment_method" #payment_method="ngModel" [ngClass]="{ 'is-invalid': f.submitted && payment_method.invalid }" required />
                        <div *ngIf="f.submitted && payment_method.invalid" class="invalid-feedback">
                            <div *ngIf="payment_method.errors.required">Earning Settings is required</div>
                        </div>
                      </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Beneficiary Type</label>
                        <div class="col-md-7">
                        <input placeholder="Beneficiary Type"type="text" class="form-control" name="beneficiary_type"  [(ngModel)]="model.beneficiary_type" #beneficiary_type="ngModel" [ngClass]="{ 'is-invalid': f.submitted && beneficiary_type.invalid }" required />
                        <div *ngIf="f.submitted && beneficiary_type.invalid" class="invalid-feedback">
                            <div *ngIf="beneficiary_type.errors.required">Beneficiary Type is required</div>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Beneficiary Name</label>
                        <div class="col-md-7">
                        <input placeholder="Signatory/Beneficiary Name"type="text" class="form-control" name="beneficiary_name"  [(ngModel)]="model.beneficiary_name" #beneficiary_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && beneficiary_name.invalid }" required />
                        <div *ngIf="f.submitted && beneficiary_name.invalid" class="invalid-feedback">
                            <div *ngIf="beneficiary_name.errors.required">Beneficiary Name is required</div>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Bank Name</label>
                        <div class="col-md-7">
                        <input placeholder="Beneficiary Bank Name"type="text" class="form-control" name="bank_name"  [(ngModel)]="model.bank_name" #bank_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && bank_name.invalid }" required />
                        <div *ngIf="f.submitted && bank_name.invalid" class="invalid-feedback">
                            <div *ngIf="bank_name.errors.required">Bank Name is required</div>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Account No.</label>
                        <div class="col-md-7"> 
                        <input placeholder="Beneficiary Account No"type="text" class="form-control" name="acc_number"  [(ngModel)]="model.acc_number" #acc_number="ngModel" [ngClass]="{ 'is-invalid': f.submitted && acc_number.invalid }" required />
                        <div *ngIf="f.submitted && acc_number.invalid" class="invalid-feedback">
                            <div *ngIf="acc_number.errors.required">Beneficiary Account No is required</div>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-hero-success">Submit</button>
                    </div>
                </form>
                <ng-snotify class="simple"></ng-snotify>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
