<nb-card>
  <nb-card-header>Tracking Tools</nb-card-header>
  <ng-snotify class="simple"></ng-snotify>
    <nb-card-body>
      <form name="form" (ngSubmit)="trackUpdate()" #f="ngForm" novalidate>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group col-md-12">
              <label class="control-label">Google Analytics</label><!-- <textarea placeholder="Publisher Name"type="text" class="form-control" name="name" required /> -->
              <textarea class="form-control" placeholder="Enter Google Analytics Script..." name="google_analytics" rows="4" [(ngModel)]="model.google_analytics"></textarea>
            </div>
            <div class="form-group col-md-12">
              <label class=" control-label">Alexa</label>
              <textarea class="form-control" placeholder="Enter Alexa Script..." name="alexa_analytics" rows="4" [(ngModel)]="model.alexa_analytics"></textarea>              
            </div>
            <div class="form-group col-md-12">
              <label class=" control-label">Awstats</label>
              <textarea class="form-control" placeholder="Enter Awstats Script..." name="awstats_analytics" rows="4" [(ngModel)]="model.awstats_analytics"></textarea>              
            </div>
            <div class="form-group col-md-12">
                <label class=" control-label">CUBEROOT</label>
                <textarea class="form-control" placeholder="Enter Cuberoot Script..." name="cuberoot_analytics" rows="4" [(ngModel)]="model.cuberoot_analytics"></textarea>              
              </div> 
            <div class="form-group text-center">
                <button class="btn btn-hero-success">Add</button>
            </div>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>