<!-- <nb-auth>
  <nb-layout> -->
    <div class="scrollable-container login-form">
      <div class="layout">
          <div class="layout-container">
            <div class="content">
              <div class="columns">
                <nb-layout-column>
                  <div class="col-md-4 offset-md-4 text-center">
                      <h2 class="title"> {{message}} </h2>
                      
                  </div>
                </nb-layout-column>
              </div>
            </div>
          </div>
      </div>
    <ng-snotify class="simple"></ng-snotify>
  </div>  
<!-- </nb-layout>
</nb-auth> -->

