@import '../../../@theme/styles/themes';

@include nb-install-component() {
  pub-weekly-earning,
  pub-story-status,
  pub-country-readers,
  pub-monthly-views,
  pub-chartjs-line {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
.chart-body {
  display: block;
  height: nb-theme(card-height-medium);
  width: 100%;

  /deep/ chart {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.no-data-available {
  position: absolute;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 35% 22%;
}
