

<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Submit Feed Links</nb-card-header>
        <nb-card-body>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>                     
                <div class="form-group">                            
                    <input placeholder="RSS Link" type="text" class="form-control" name="feed_link" [(ngModel)]="model.feed_link" #feed_link="ngModel" [ngClass]="{ 'is-invalid form-control-danger': f.submitted && feed_link.invalid }" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" required  />
                    <div *ngIf="f.submitted && feed_link.invalid" class="invalid-feedback">
                        <div *ngIf="feed_link?.errors.required">* Feed link is required</div>
                        <div *ngIf="feed_link?.errors.pattern">url is not valid</div>
                    </div>
                </div>
                <div class="input-group">
                    <select class="form-control col-md-4" name="category" [(ngModel)]="model.category" #category="ngModel" [ngClass]="{ 'is-invalid form-control-danger': f.submitted && category.invalid }" required>
                       <option [ngValue]="null">Select Category</option>
                       <option>Technology</option>
                       <option>History</option>
                       <option>Humor</option>
                       <option>Entertainment</option>
                       <option>Sports</option>
                     </select>
                     <button type="submit" class="offset-md-6 btn btn-primary">Submit Link</button>
                     <div *ngIf="f.submitted && category.invalid" class="invalid-feedback">
                      <div *ngIf="category?.errors.required">* Category is required</div>
                    </div>                 
             </div>
            </form>

        </nb-card-body>
      </nb-card>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Submissions History
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Media</th>
                <th > URL</th>
                
                <th> Category</th>
                  
                <th> Status</th>
                
                <th>Action</th>
                              
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let link of listRss">
                <td>rss</td>
                <td ><a [attr.href]="link?.link" target="_blank">{{link["link"]}}</a></td>
                <td>{{link["category"]}}</td>

                <td>{{link["status"]}}</td>
                <td> <i class="fa fa-trash cursor-style" (click)="deleteLink(link.id)"></i></td>
              </tr>
           
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <ng-snotify class="material"></ng-snotify>
</div>
