<!-- <nb-auth>
  <nb-layout> -->
    <div class="scrollable-container login-form">
        <div class="layout">
            <div class="layout-container form-layout">
              <div class="content">
                <div class="columns">
                  <nb-layout-column>
                    <div class="col-md-4 offset-md-4 text-center">
                        <h2 class="title"> Onefeed </h2>
                        <small class="form-text sub-title mb-3">Hello! Sign in with your email</small>
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>                     
                            <div class="form-group">                            
                                <input placeholder="Email"type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                    <div *ngIf="email.errors.required" class="pull-left">* Email is required</div>
                                    <div *ngIf="email.errors.email" class="pull-left"> Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <input placeholder="Password" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
                                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                    <div *ngIf="password.errors.required" class="pull-left">* Password is required</div>
                                </div>
                            </div>
                            <div class="form-group accept-group col-sm-12">
                                <nb-checkbox name="remember_me" [(ngModel)]="model.remember_me">Remember me</nb-checkbox>
                                <a class="forgot-password" routerLink="/forget">Forgot Password?</a>
                            </div>                        
                            <div class="form-group">
                                <button class="btn btn-block btn-hero-success">Login</button>
                            </div>
                            <a [routerLink] ="['/register']"> Don't have an account? Create one.</a>
                        </form>
                    </div>
                  </nb-layout-column>
                </div>
              </div>
            </div>
        </div>
      <ng-snotify class="material"></ng-snotify>
    </div>  

<!-- 

    <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
    [(ngModel)]="modal" required></my-date-range-picker> -->
  <!-- </nb-layout>
</nb-auth> -->

