.btn.btn-hero-success {
    background-image: linear-gradient(to right, #40dcb2, #40dc7e);
    box-shadow: 0 0 0 0 #37bd83, 0 0 0 0 #40dc98;
    text-shadow: none;
    border: none;
    line-height: calc((1rem * 1.25) + 4px);

}
 a {
    color: #3dcc6d;
}
// @import '../@theme/styles/themes';

