body {
    font-family: 'Lato', sans-serif;
}

/* grid */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-is-1, .col-is-2, .col-is-3, .col-is-4, .col-is-5, .col-is-6, .col-is-7, .col-is-8, .col-is-9, .col-is-10, .col-is-11, .col-is-12, .col-is, .col-is-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto, .col-xxxl-1, .col-xxxl-2, .col-xxxl-3, .col-xxxl-4, .col-xxxl-5, .col-xxxl-6, .col-xxxl-7, .col-xxxl-8, .col-xxxl-9, .col-xxxl-10, .col-xxxl-11, .col-xxxl-12, .col-xxxl, .col-xxxl-auto {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.nb-theme-default nb-layout .layout nb-layout-header nav {
    height: 3.75rem !important;
}

.nb-theme-default nb-user .user-picture {
    height: 2rem !important;
    width: 2rem !important;
}

.nb-theme-default nb-layout .layout nb-layout-header.fixed ~ .layout-container {
    padding-top: 2.75rem !important;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 2.1rem 1.5rem 0.75rem 1.5rem !important;
}

.nb-theme-default nb-sidebar .scrollable {
    padding: 0rem 1.25rem !important;
}

.nb-theme-default nb-menu .menu-item .menu-icon {
    font-size: 1.75rem !important;
}

/* Card */
.nb-theme-default nb-card {
    margin-bottom: 1rem !important;
}

/* tabs */
.nb-theme-default nb-tabset ul li a {
    padding: 1rem 1rem !important;

    /* font-family: 'Lato', sans-serif; */
}

ul[_ngcontent-c14] li[_ngcontent-c14] a[_ngcontent-c14]::before {
    content: '';
    height: 3px !important;
    bottom: 1px !important;
}

/* label card */
.earning-summary {
    box-shadow: none !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
    border: 1px solid #ebeef2 !important;
}

.earning-summary .earning-content span:first-child {
    display: block;
    color: #8e8e8e;
    font-weight: 500;
    margin-bottom: 5px;
}

.earning-summary .small-summary {
    padding: 0px !important;
}

.earning-summary .small-summary span {
    margin: 0px !important;
}

.table-earnings .table-bordered th, .table-bordered td {
    padding: 10px 15px;
}

.table-earnings .table-bordered thead th, .table-bordered thead td {
    font-size: 14px;
    font-weight: 500;
}

.earning-settings {
    width: 75% !important;
    background-color: #dadada40;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.earning-settings legend {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #1b8a34;
}

.earning-settings .text-left {
    opacity: 0.7;
}

.earning-settings .text-right {
    font-weight: 600;
    opacity: 0.7;
}

/* Home page card image */
.nb-theme-default nb-card.medium-card {
    height: 100% !important;
}

.nb-theme-default .picture {
    padding-top: 52.50% !important;
}
.nb-theme-default [_nghost-c3] .toggle-layout[_ngcontent-c3] a i::after{content: '';display: none;}


.login-form .layout {
    padding: 2.5rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #a4abb3;
    background: #ebeff5;
    min-height: 100vh;
}

.nb-theme-default nb-checkbox .customised-control-indicator {
    left: 0;
}

.login-form .flex-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form .form-group {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    flex-wrap: wrap;

}

.login-form .layout-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 #dfe3eb;
    height: calc(100vh - 2 * 2.5rem);
}

