<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Payment
      </nb-card-header>
      <nb-card-body>
        <!-- <nb-card *ngIf="values!=''">
            <div class="row">
              <select class=" col-md-3" name="status" [(ngModel)]="model.status" #status="ngModel" (change)="statusWiseStories(model.status)">
                <option [ngValue]="null">Select Status</option>
                <option>Pending</option>
                <option>Approved</option>
                <option>Rejected</option>
              </select>
              <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="dateModel" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
              <button class="btn btn-hero-primary btn-sm" (click)="getcards()">Clear</button>
            </div>
          </nb-card> -->
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Publisher ID</th>
                <th>Publisher Name</th>
                <th>Email</th>
                <th>Debit</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of paymentData;let i = index">
                <td>{{i+1}}</td>
                <td>{{data?.id}}</td>
                <td>{{data?.name}}</td>
                <td>{{data?.email}}</td>
                <td>{{data?.debit}}</td>
                <td>{{data?.date}}</td>
                <td>{{data?.status}}</td>

                <td>
                  <div class="btn-group">
                    <button class="btn btn-hero-success btn-icon mr-2" (click)="paymentStatus(data?.id, data?.user_id, status='Approved')" *ngIf="data?.status==='Pending'">
                      <i class="fas fa-check fa-sm cursor-style"></i>
                    </button>
                    <button class="btn btn-hero-primary btn-icon mr-2" (click)="paymentStatus(data?.id, data?.user_id, status='Rejected')" *ngIf="data?.status==='Pending'">
                      <i class="fas fa-times fa-sm cursor-style"></i>
                    </button>
                    <button class="btn btn-hero-primary btn-icon mr-2" (click)="paymentStatus(data?.id, data?.user_id, status='Rejected')" *ngIf="data?.status==='Approved'">
                      <i class="fas fa-times fa-sm cursor-style"></i>
                    </button>
                    <button class="btn btn-hero-success btn-icon mr-2" (click)="paymentStatus(data?.id, data?.user_id, status='Approved')" *ngIf="data?.status==='Rejected'">
                      <i class="fas fa-check fa-sm cursor-style"></i>
                    </button>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- <ng2-smart-table [settings]="settings" [source]="paymentData" ></ng2-smart-table> -->
      </nb-card-body>
    </nb-card>
  </div>
  <ng-snotify class="material"></ng-snotify>
</div>