<div class="scrollable-container login-form">
  <div class="layout">
    <div class="layout-container form-layout">
      <div class="content">
        <div class="columns">
          <nb-layout-column>
            <div class="text-center">
              <img src="assets/images/logo.png" alt="OneFeed">
            </div>
            <div class="col-md-4 offset-md-4 text-center" *ngIf="!response">
              <h2 class="title">Forgot Password</h2>
              <form name="form" (ngSubmit)="f.form.valid && forgot()" #f="ngForm" novalidate>
                <div class="form-group">
                  <input placeholder="Email" type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                    required email />
                  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required" class="pull-left"> * Email is required</div>
                    <div *ngIf="email.errors.email" class="pull-left"> Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-block btn-hero-success">Send Email</button>
                </div>
                <a routerLink="/login">Back to Login</a>
              </form>

            </div>
            <div class="col-md-4 offset-md-4 text-center" *ngIf="response">
              <h3>Check your email </h3>
              <p>{{message}}</p>
            </div>
          </nb-layout-column>
        </div>
      </div>
    </div>
  </div>
  <ng-snotify class="material"></ng-snotify>
</div>