<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <i class="nb-menu"></i>
    </a>
     <div class="logo" (click)="goToHome()">
      <!-- OneFeed -->
      <img class="logo-image" src="assets/images/logo.png" alt="OneFeed">
    </div>
  </div>
  <!-- <ngx-theme-switcher></ngx-theme-switcher>
  <ngx-layout-direction-switcher></ngx-layout-direction-switcher> -->
</div>

<nb-actions size="medium" class="header-container" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
  <!-- <nb-action icon="nb-gear" class="toggle-layout" ></nb-action> -->
  <nb-action *nbIsGranted="['view', 'user']" class="dropdown">
    <div class= "user-container user-profile " id="dropdownMenuButton"  >
        <div  class="user-picture image" >
          <!-- {{pubisherImg}} -->
        <img [attr.src]="pubisherImg" id="picture" class="profile-pic"/>
        </div>
        
        <div class="info-container">
          <div class="user-name" id="name">{{profileInfo?.name}}</div>
        </div>
    </div>
    <ul class="dropdown-menu"  style="display: block;" *ngIf="menushow">
      <li (click)="profileNavigate()">
        <a>Profile</a>
      </li>
      <li (click)="logout()">
        <a>Logout</a>
      </li>
    </ul>
  </nb-action>


  <!-- <nb-user [name]="profileInfo?.name" [picture]="pubisherImg" (click)="toggleMenu()"></nb-user> -->
<!-- <nb-action class="control-item"  icon="nb-notifications"></nb-action>
<nb-action class="control-item" icon="nb-email"></nb-action> -->
<!-- <nb-action class="control-item">
  <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
</nb-action> -->













</nb-actions>