<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header> Weekly Earnings</nb-card-header>
      <nb-card-body>
          <pub-chartjs-multiple-xaxis></pub-chartjs-multiple-xaxis>       
        <!-- <chart class="chart-body" type="pie" [data]="countryData" [options]="countryOption"></chart> -->
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Story Status</nb-card-header>
      <nb-card-body>
          <!-- <chart class="chart-body" type="bar" [data]="storyStatusData" [options]="storyStatusOption"></chart> -->
        <pub-chartjs-bar></pub-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <!-- <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Line</nb-card-header>
      <nb-card-body>
        <pub-chartjs-line></pub-chartjs-line>
      </nb-card-body>
    </nb-card>
  </div> -->
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Country Wise Readers</nb-card-header>
      <nb-card-body>
          <pub-chartjs-pie></pub-chartjs-pie>
        <!-- <chart class="chart-body" type="line" [data]="collectiveData" [options]="collectiveOptions"></chart> -->
      </nb-card-body>
    </nb-card>
  </div>
 <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar Horizontal</nb-card-header>
      <nb-card-body>
        <pub-chartjs-bar-horizontal></pub-chartjs-bar-horizontal>
      </nb-card-body>
    </nb-card>
  </div>
   <!-- 
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Radar</nb-card-header>
      <nb-card-body>
        <pub-chartjs-radar></pub-chartjs-radar>
      </nb-card-body>
    </nb-card>
  </div> -->
</div>
