<div class="row">
  <div class="col-md-4">
    <of-stats-card title="Publishers" val="{{statsCardData?.total_users}}" type="primary">
      <i class="fas fa-users fa-xs"></i>
    </of-stats-card>
  </div>

  <div class=" col-md-4">
    <of-stats-card title="RSS" val="{{statsCardData?.total_rss}}" type="success">
      <i class="fa fa-rss-square fa-xs"></i>
    </of-stats-card>
  </div>

  <div class=" col-md-4">
    <of-stats-card title="Stories" val="{{statsCardData?.total_stories}}" type="info">
      <i class="fas fa-newspaper fa-xs"></i>
    </of-stats-card>
  </div>
</div>

<div *ngIf="storyCardData" class="filter-body">
  <div class="filter-view">
    <select class="col-md-3" name="status" [(ngModel)]="model.status" #status="ngModel" (change)="statusWiseStories(model.status)">
      <option [ngValue]="null">Select Status</option>
      <option>Pending</option>
      <option>Approved</option>
      <option>Rejected</option>
    </select>
    <my-date-range-picker style="margin-right: 15px;" name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="dateModel"
      (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
    <button class="btn btn-hero-primary btn-sm button-view" (click)="getcards()">Clear</button>
  </div>
</div>

<div class="no-data-available" *ngIf="dataStatus === false">
  No Data Found
</div>
<div class="row" *ngIf="dataStatus === true">
  <div *ngFor="let card of storyCardData" class="col-md-4" style="margin-bottom: 15px;">
    <of-story-card [storyCard]='card'></of-story-card>
  </div>
</div>
<ng-snotify class="material"></ng-snotify>