<div class="row">
  <div class="col-md-4">
    <of-stats-card title="Publishers" val="${{earningObj?.total_earning}}" type="primary">
      <i class="fas fa-users fa-xs"></i>
    </of-stats-card>
  </div>
  <div class=" col-md-4">
    <of-stats-card title="RSS" val="230K" type="success">
      <i class="fa fa-rss-square fa-xs"></i>
    </of-stats-card>
  </div>

  <div class=" col-md-4">
    <of-stats-card title="Stories" val="150K" type="info">
      <i class="fas fa-newspaper fa-xs"></i>
    </of-stats-card>
  </div>
</div>
<div class="row">
  <div *ngFor="let card of values" class="col-md-4" style="margin-bottom: 15px;">
    <of-story-card [storyCard]='card'></of-story-card>
  </div>
</div>