<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          RSS
        </nb-card-header>
        <nb-card-body>
        <div class="table-responsive">
          <!-- <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th > ID</th>
                
                <th> RSS</th>
                  
                <th> Category</th>
                
                <th>Status</th>
                <th>Action</th>
                              
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rss of rssData">
                <td >{{rss?.link_id}}</td>
                <td>{{rss?.link}}</td>

                <td>{{rss?.category}}</td>
                <td>{{rss?.status}}</td>
                <td> <i class="fa fa-trash" (click)="deleteLink(link.id)"></i></td>
              </tr>
           
            </tbody>
          </table> -->
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <ng-snotify class="material"></ng-snotify>
  </div>