<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        RSS
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Publisher ID</th>
                <th>Publisher</th>
                <th>RSS Link</th>
                <th>Category</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rssData; let i= index">
                <td>{{i+1}}</td>
                <td>{{data?.link_id}}</td>
                <td>{{data?.publisher}}</td>
                <td>
                  <a [attr.href]="data?.link" target="_blank">{{data?.link}}</a>
                </td>
                <td>{{data?.category}}</td>
                <td>{{data?.status}}</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-hero-success btn-sm mr-2" (click)="rssStatus(data?.link_id, status='Approved')" *ngIf="data?.status==='Pending'">
                      <i class="fas fa-check fa-lg cursor-style"></i>
                    </button>
                    <button class="btn btn-hero-primary btn-sm mr-2" (click)="rssStatus(data?.link_id, status='Rejected')" *ngIf="data?.status==='Pending'">
                      <i class="fas fa-times fa-lg cursor-style"></i>
                    </button>
                    <button class="btn btn-hero-primary btn-sm mr-2" (click)="rssStatus(data?.link_id, status='Rejected')" *ngIf="data?.status==='Approved'">
                      <i class="fas fa-times fa-lg cursor-style"></i>
                    </button>
                    <button class="btn btn-hero-success btn-sm mr-2" (click)="rssStatus(data?.link_id, status='Approved')" *ngIf="data?.status==='Rejected'">
                      <i class="fas fa-check fa-lg cursor-style"></i>
                    </button>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <ng-snotify class="material"></ng-snotify>
</div>