<nb-card size="medium">
  <nb-card-body>
    <div class="picture" [style.background-image]="image"></div>

    <div class="details">
      <div class="title">      
          {{storyCard?.story_title}}
      </div>
     
    </div>
  </nb-card-body>


  <nb-card-footer>
   
      <i class="ion-thumbsup"></i><span style="font-size:15px">{{storyCard?.likes}}</span>   
      <i class="ion-thumbsdown"></i><span style="font-size:15px">{{storyCard?.dislikes}}</span>   
      <i class="ion-chatbox"></i><span style="font-size:15px">{{storyCard?.comment}}</span>   
      <i class="ion-eye"></i><span style="font-size:15px">{{storyCard?.preview}}</span>   
      <i class="ion-share"></i><span style="font-size:15px">{{storyCard?.shares}}</span>   
  </nb-card-footer>
</nb-card>
