<div class="scrollable-container login-form">
  <div class="layout">
    <div class="layout-container form-layout">
      <div class="content">
        <div class="columns">
          <nb-layout-column>
            <div class="col-md-6 offset-md-3 text-center">
              <img src="assets/images/logo.png" alt="OneFeed">
              <h2 class="title"> Email Verification </h2>
            </div>
            <div class="col-md-6 offset-md-3 text-center">
              <small class="form-text mb-3"></small>
              <div>
                <h5>{{message}}</h5>
              </div>
            </div>
            <div class="col-md-4 offset-md-4 text-center">
              <a class="btn btn-block btn-hero-success " routerLink="/login"> Go to Login</a>
            </div>
          </nb-layout-column>
        </div>
      </div>
    </div>
  </div>
</div>