.image-style{
    height: 200px;
    width: 200px
}

.publisher_profile_img{
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    .default-icon{
        font-size: 200px;
    }
    &:hover .publisher_profile_overlay{
        display: block;
    }
    .pubisher_img{
        height: 200px;
        width: 200px;
        margin: auto;
        float: none;
    }
    .publisher_profile_overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        .overlay-icon {
            // font-size: 40px;
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.7;
        }
    }
}