<div class="row">
  <div class=" col-md-4">
    <ngx-status-card title="Earnings" val="${{earningObj?.total_earning}}" type="primary">
      <i class="far fa-money-bill-alt fa-xs" ></i>
    </ngx-status-card>
  </div>

  <div class=" col-md-4">
    <ngx-status-card title="Clicks" val="230K" type="success">
      <i class="far fa-bell fa-xs"></i>
    </ngx-status-card>
  </div>

  <div class=" col-md-4">
    <ngx-status-card title="Followers" val="150K" type="info">
      <i class="fas fa-users fa-xs"></i>
    </ngx-status-card>
  </div>


</div>

<div class="row">
    <div *ngFor="let card of values" class="col-md-4" style="    margin-bottom: 15px;">
       
    
        <ngx-story-card [storyCard]='card'></ngx-story-card>
      </div>

</div>
