<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae libero eius eligendi voluptatem sunt accusantium. Adipisci temporibus non beatae quas nam consectetur enim? Dolor consequuntur culpa officia, laboriosam adipisci cum?
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="closeModal()">Save changes</button>
</div>